<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册界面</title>
</head>
<body>
	<form name="userInfo" action="/user/regist" method="post">
    name: <input type="text" name="name"><br/>
    userName: <input type="text" name="username"><br/>
    password: <input type="password" name="password"><br/>
    age: <input type="text" name="age"><br/>
    email: <input type="text" name="email"><br/>
    phoneNumber: <input type="text" name="phoneNumber"><br/>
    <input type="submit" value="提交">
</form>

</body>
</html>